body{
  background-color: #0D0E0F;
}
.moon{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(-20deg,#e9defa 0%, #fbfcdb 100%);
  position: relative;
  transform: rotate(-35deg);
}
.moon::after{
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #0D0E0F;
  position: absolute;
  right: -66px;
}